
*.log
java/igniteClient/spring-shell.log
*.log
*.log
*.log
*.class
scala/.idea/workspace.xml
scala/.idea/workspace.xml
target
.idea/*.*
.idea/
*.iml
*.iws
target/
coursera/wikipedia/project/*
coursera/wikipedia/.idea/*
coursera/wikipedia/.idea/workspace.xml
coursera/stackoverflow/project/build.properties
coursera/stackoverflow/project/buildSettings.sbt
coursera/stackoverflow/project/CommonBuild.scala
coursera/stackoverflow/project/Courses.scala
coursera/stackoverflow/project/GradingFeedback.scala
coursera/stackoverflow/project/plugins.sbt
coursera/stackoverflow/project/ScalaTestRunner.scala
coursera/stackoverflow/project/Settings.scala
coursera/stackoverflow/project/StudentBuild.scala
coursera/stackoverflow/project/StudentBuildLike.scala
coursera/stackoverflow/project/StyleChecker.scala
scalaNew/.gradle/vcs-1/gc.properties
scalaNew/.gradle/buildOutputCleanup/outputFiles.bin
scalaNew/.gradle/buildOutputCleanup/cache.properties
scalaNew/.gradle/buildOutputCleanup/buildOutputCleanup.lock
scalaNew/.gradle/4.10/taskHistory/taskHistory.lock
scalaNew/.gradle/4.10/taskHistory/taskHistory.bin
scalaNew/.gradle/4.10/gc.properties
scalaNew/.gradle/4.10/fileHashes/fileHashes.lock
scalaNew/.gradle/4.10/fileHashes/fileHashes.bin
scalaNew/.gradle/4.10/fileChanges/last-build.bin
