<button type="button" (click)="getImageFromService()">Get Image</button>

<img [src]="imageToShow"
     alt="Place image title"
     *ngIf="!isImageLoading; else noImageFound">
<ng-template #noImageFound>
     <img src="fallbackImage.png" alt="Fallbackimage">
</ng-template>

<!-- <h2>csv: {{csvToShow}}</h2> -->

<div><button type="button" (click)="getCsv()">Get CSV</button></div>

<div *ngFor="let i of csvToShow">
     <span *ngFor="let j of i">
         {{j}}
     </span>
 </div>

 <div><button type="button" (click)="getPdf()">Get PDF</button></div>
 <div><button type="button" (click)="getPdf2()">Get PDF2</button></div>
 <div><button type="button" (click)="evalString()">eval String</button></div>


 <div><button type="button" (click)="getTextFromService()">Get text</button></div>
 <h2>text is: {{text}}</h2>

 <div><button type="button" (click)="getSeq()">Get seq</button></div>
 <h2>seq is: {{seq}}</h2>

 <div><button type="button" (click)="getSeq2()">Get seq2</button></div>
 <h2>seq2 is: {{seq2}}</h2>

 <div><button type="button" (click)="getSeq3Demo()">Get seq3</button></div>

 <div><button type="button" (click)="getSeq4Demo()">Get pdf with one images</button></div>
 <div><button type="button" (click)="getSeq5Demo()">Get pdf with multiple images</button></div>

 <div><button type="button" (click)="asd()">asd</button></div>

 <div><button type="button" (click)="getTextFromRest()">text from rest</button></div>


